body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
.imgHangman{
    /* background-color: lightpink; */
    background-image: url(0.jpg);
    background-repeat: no-repeat;
    background-position: center left 9rem;
    height: 25rem;
}
.rulesAndImg {
    margin-top: 3rem;
}
.buttonStart{
    margin-top: 3rem;
}
.endGame {
    font-size: 3rem;
    font-weight: bolder;
}